In [7]:
import mysql.connector
import pandas as pd

# MySQL connection details
host = "localhost"
user = "root" 
password = "root" 
database = "e_commerce"

# Connect to MySQL
conn = mysql.connector.connect(host=host, user=user, password=password, database=database)

if conn.is_connected():
    print("Connected to MySQL database")
else:
    print("Failed to connect to MySQL database")

Connected to MySQL database

In [8]:
# Create a cursor object
cursor = conn.cursor()

# SQL statement to create the supplier table
create_supplier_table = """
CREATE TABLE IF NOT EXISTS supplier (
    SUPP_ID INT PRIMARY KEY,
    SUPP_NAME VARCHAR(50),
    SUPP_CITY VARCHAR(50),
    SUPP_PHONE VARCHAR(10)
)
"""

# Execute the SQL statement
cursor.execute(create_supplier_table)

print("Supplier table created successfully")

# Close the cursor and connection
cursor.close()
conn.close()

Supplier table created successfully

In [10]:
import mysql.connector

# MySQL connection details
host = "localhost"
user = "root"  # Change this to your MySQL username
password = "root"  # Change this to your MySQL password
database = "e_commerce"

# Connect to MySQL
conn = mysql.connector.connect(host=host, user=user, password=password, database=database)

if conn.is_connected():
    print("Connected to MySQL database")
else:
    print("Failed to connect to MySQL database")

# Create a cursor object for each table
cursor_supplier = conn.cursor()
cursor_customer = conn.cursor()
cursor_category = conn.cursor()
cursor_product = conn.cursor()
cursor_product_details = conn.cursor()
cursor_order = conn.cursor()
cursor_rating = conn.cursor()

# Create Supplier Table
create_supplier_table = """
CREATE TABLE IF NOT EXISTS supplier (
    SUPP_ID INT PRIMARY KEY,
    SUPP_NAME VARCHAR(50),
    SUPP_CITY VARCHAR(50),
    SUPP_PHONE VARCHAR(10)
)
"""
cursor_supplier.execute(create_supplier_table)
print("Supplier table created successfully")

# Create Customer Table
create_customer_table = """
CREATE TABLE IF NOT EXISTS customer (
    CUS_ID INT NOT NULL PRIMARY KEY,
    CUS_NAME VARCHAR(20) DEFAULT NULL,
    CUS_PHONE VARCHAR(10),
    CUS_CITY VARCHAR(30),
    CUS_GENDER CHAR
)
"""
cursor_customer.execute(create_customer_table)
print("Customer table created successfully")

# Create Category Table
create_category_table = """
CREATE TABLE IF NOT EXISTS category (
    CAT_ID INT NOT NULL PRIMARY KEY,
    CAT_NAME VARCHAR(20) DEFAULT NULL
)
"""
cursor_category.execute(create_category_table)
print("Category table created successfully")

# Create Product Table
create_product_table = """
CREATE TABLE IF NOT EXISTS product (
    PRO_ID INT NOT NULL PRIMARY KEY,
    PRO_NAME VARCHAR(20) DEFAULT NULL,
    PRO_DESC VARCHAR(60) DEFAULT NULL,
    CAT_ID INT NOT NULL,
    FOREIGN KEY (CAT_ID) REFERENCES category(CAT_ID)
)
"""
cursor_product.execute(create_product_table)
print("Product table created successfully")

# Create Product_Details Table
create_product_details_table = """
CREATE TABLE IF NOT EXISTS product_details (
    PROD_ID INT NOT NULL,
    PRO_ID INT NOT NULL,
    SUPP_ID INT NOT NULL,
    PROD_PRICE INT NOT NULL,
    PRIMARY KEY (PROD_ID),
    FOREIGN KEY (PRO_ID) REFERENCES product(PRO_ID),
    FOREIGN KEY (SUPP_ID) REFERENCES supplier(SUPP_ID)
)
"""
cursor_product_details.execute(create_product_details_table)
print("Product_Details table created successfully")

# Create Order Table
create_order_table = """
CREATE TABLE IF NOT EXISTS orders (
    ORD_ID INT NOT NULL PRIMARY KEY,
    ORD_AMOUNT INT NOT NULL,
    ORD_DATE DATE,
    CUS_ID INT NOT NULL,
    PROD_ID INT NOT NULL,
    FOREIGN KEY (CUS_ID) REFERENCES customer(CUS_ID),
    FOREIGN KEY (PROD_ID) REFERENCES product_details(PROD_ID)
)
"""
cursor_order.execute(create_order_table)
print("Order table created successfully")

# Create Rating Table
create_rating_table = """
CREATE TABLE IF NOT EXISTS rating (
    RAT_ID INT NOT NULL PRIMARY KEY,
    CUS_ID INT NOT NULL,
    SUPP_ID INT NOT NULL,
    RAT_RATSTARS INT NOT NULL,
    FOREIGN KEY (SUPP_ID) REFERENCES supplier(SUPP_ID),
    FOREIGN KEY (CUS_ID) REFERENCES customer(CUS_ID)
)
"""
cursor_rating.execute(create_rating_table)
print("Rating table created successfully")

# Close all cursors and connection
cursor_supplier.close()
cursor_customer.close()
cursor_category.close()
cursor_product.close()
cursor_product_details.close()
cursor_order.close()
cursor_rating.close()
conn.close()

Connected to MySQL database
Supplier table created successfully
Customer table created successfully
Category table created successfully
Product table created successfully
Product_Details table created successfully
Order table created successfully
Rating table created successfully

In [12]:
import mysql.connector

# MySQL connection details
host = "localhost"
user = "root"  
password = "root"  
database = "e_commerce"

# Connect to MySQL
conn = mysql.connector.connect(host=host, user=user, password=password, database=database)

if conn.is_connected():
    print("Connected to MySQL database")
else:
    print("Failed to connect to MySQL database")

try:
    # Insert data into supplier table
    cursor_supplier = conn.cursor()

    # Data to be inserted into supplier table
    data_supplier = [
        (1, 'Rajesh Retails', 'Delhi', '1234567890'),
        (2, 'Appario Ltd.', 'Mumbai', '2589631470'),
        (3, 'Knome products', 'Bangalore', '9785462315'),
        (4, 'Bansal Retails', 'Kochi', '8975463285'),
        (5, 'Mittal Ltd.', 'Lucknow', '7898456532')
    ]

    # SQL statement for inserting data into supplier table
    insert_query_supplier = "INSERT INTO supplier (SUPP_ID, SUPP_NAME, SUPP_CITY, SUPP_PHONE) VALUES (%s, %s, %s, %s)"

    # Execute the SQL statement with data
    cursor_supplier.executemany(insert_query_supplier, data_supplier)

    # Commit the changes
    conn.commit()

    print("Data inserted into the supplier table successfully")

    # Insert data into customer table
    cursor_customer = conn.cursor()

    # Data to be inserted into customer table
    data_customer = [
        (1, 'AAKASH', '9999999999', 'DELHI', 'M'),
        (2, 'AMAN', '9785463215', 'NOIDA', 'M'),
        (3, 'NEHA', '9999999998', 'MUMBAI', 'F'),
        (4, 'MEGHA', '9994562399', 'KOLKATA', 'F'),
        (5, 'PULKIT', '7895999999', 'LUCKNOW', 'M')
    ]

    # SQL statement for inserting data into customer table
    insert_query_customer = "INSERT INTO customer (CUS_ID, CUS_NAME, CUS_PHONE, CUS_CITY, CUS_GENDER) VALUES (%s, %s, %s, %s, %s)"

    # Execute the SQL statement with data
    cursor_customer.executemany(insert_query_customer, data_customer)

    # Commit the changes
    conn.commit()

    print("Data inserted into the customer table successfully")

    # Insert data into category table
    cursor_category = conn.cursor()

    # Data to be inserted into category table
    data_category = [
        (1, 'BOOKS'),
        (2, 'GAMES'),
        (3, 'GROCERIES'),
        (4, 'ELECTRONICS'),
        (5, 'CLOTHES')
    ]

    # SQL statement for inserting data into category table
    insert_query_category = "INSERT INTO category (CAT_ID, CAT_NAME) VALUES (%s, %s)"

    # Execute the SQL statement with data
    cursor_category.executemany(insert_query_category, data_category)

    # Commit the changes
    conn.commit()

    print("Data inserted into the category table successfully")

    # Insert data into product table
    cursor_product = conn.cursor()

    # Data to be inserted into product table
    data_product = [
        (1, 'GTA V', 'DFJDJFDJFDJFDJFJF', 2),
        (2, 'TSHIRT', 'DFDFJDFJDKFD', 5),
        (3, 'ROG LAPTOP', 'DFNTTNTNTERND', 4),
        (4, 'OATS', 'REURENTBTOTH', 3),
        (5, 'HARRY POTTER', 'NBEMCTHTJTH', 1)
    ]

    # SQL statement for inserting data into product table
    insert_query_product = "INSERT INTO product (PRO_ID, PRO_NAME, PRO_DESC, CAT_ID) VALUES (%s, %s, %s, %s)"

    # Execute the SQL statement with data
    cursor_product.executemany(insert_query_product, data_product)

    # Commit the changes
    conn.commit()

    print("Data inserted into the product table successfully")

    # Insert data into product_details table
    cursor_product_details = conn.cursor()

    # Data to be inserted into product_details table
    data_product_details = [
        (1, 1, 2, 1500),
        (2, 3, 5, 30000),
        (3, 5, 1, 3000),
        (4, 2, 3, 2500),
        (5, 4, 1, 1000)
    ]

    # SQL statement for inserting data into product_details table
    insert_query_product_details = "INSERT INTO product_details (PROD_ID, PRO_ID, SUPP_ID, PROD_PRICE) VALUES (%s, %s, %s, %s)"

    # Execute the SQL statement with data
    cursor_product_details.executemany(insert_query_product_details, data_product_details)

    # Commit the changes
    conn.commit()

    print("Data inserted into the product_details table successfully")

    # Insert data into orders table
    cursor_orders = conn.cursor()

    # Data to be inserted into orders table
    data_orders = [
        (20, 1500, '2021-10-12', 3, 5),
        (25, 30500, '2021-09-16', 5, 2),
        (26, 2000, '2021-10-05', 1, 1),
        (30, 3500, '2021-08-16', 4, 3),
        (50, 2000, '2021-10-06', 2, 1)
    ]

    # SQL statement for inserting data into orders table
    insert_query_orders = "INSERT INTO orders (ORD_ID, ORD_AMOUNT, ORD_DATE, CUS_ID, PROD_ID) VALUES (%s, %s, %s, %s, %s)"

    # Execute the SQL statement with data
    cursor_orders.executemany(insert_query_orders, data_orders)

    # Commit the changes
    conn.commit()

    print("Data inserted into the orders table successfully")

    # Insert data into rating table
    cursor_rating = conn.cursor()

    # Data to be inserted into rating table
    data_rating = [
        (1, 2, 2, 4),
        (2, 3, 4, 3),
        (3, 5, 1, 5),
        (4, 1, 3, 2),
        (5, 4, 5, 4)
    ]

    # SQL statement for inserting data into rating table
    insert_query_rating = "INSERT INTO rating (RAT_ID, CUS_ID, SUPP_ID, RAT_RATSTARS) VALUES (%s, %s, %s, %s)"

    # Execute the SQL statement with data
    cursor_rating.executemany(insert_query_rating, data_rating)

    # Commit the changes
    conn.commit()

    print("Data inserted into the rating table successfully")

except mysql.connector.Error as error:
    print("Error inserting data:", error)

finally:
    # Close all cursors and connection
    if 'cursor_supplier' in locals():
        cursor_supplier.close()
    if 'cursor_customer' in locals():
        cursor_customer.close()
    if 'cursor_category' in locals():
        cursor_category.close()
    if 'cursor_product' in locals():
        cursor_product.close()
    if 'cursor_product_details' in locals():
        cursor_product_details.close()
    if 'cursor_orders' in locals():
        cursor_orders.close()
    if 'cursor_rating' in locals():
        cursor_rating.close()
    conn.close()

Connected to MySQL database
Data inserted into the supplier table successfully
Data inserted into the customer table successfully
Data inserted into the category table successfully
Data inserted into the product table successfully
Data inserted into the product_details table successfully
Data inserted into the orders table successfully
Data inserted into the rating table successfully

In [15]:
import mysql.connector

# MySQL connection details
host = "localhost"
user = "root"  
password = "root"  
database = "e_commerce"

# Connect to MySQL
conn = mysql.connector.connect(host=host, user=user, password=password, database=database)

if conn.is_connected():
    print("Connected to MySQL database")
else:
    print("Failed to connect to MySQL database")

try:
    # SQL query
    sql_query = """
    SELECT customer.CUS_GENDER, COUNT(DISTINCT orders.CUS_ID) AS num_customers
    FROM orders
    JOIN customer ON orders.CUS_ID = customer.CUS_ID
    WHERE ORD_AMOUNT >= 3000
    GROUP BY customer.CUS_GENDER;
    """

    # Execute the SQL query
    cursor = conn.cursor()
    cursor.execute(sql_query)

    # Fetch all the results
    results = cursor.fetchall()

    # Display the results
    print("Number of customers grouped by gender who have placed any order of amount greater than or equal to Rs. 3000:")
    print("Gender   |   Number of Customers")
    print("-----------------------------")
    for row in results:
        print(f"{row[0]}       |   {row[1]}")

except mysql.connector.Error as error:
    print("Error executing SQL query:", error)

finally:
    # Close the cursor and connection
    if 'cursor' in locals():
        cursor.close()
    conn.close()

Connected to MySQL database
Number of customers grouped by gender who have placed any order of amount greater than or equal to Rs. 3000:
Gender   |   Number of Customers
-----------------------------
F       |   1
M       |   1

In [16]:
### Q4) Display all the order along with product name 
##ordered by a customer having Customer_Id=2;

import mysql.connector

# MySQL connection details
host = "localhost"
user = "root"  
password = "root"
database = "e_commerce"

# Connect to MySQL
conn = mysql.connector.connect(host=host, user=user, password=password, database=database)

if conn.is_connected():
    print("Connected to MySQL database")
else:
    print("Failed to connect to MySQL database")

try:
    # SQL query
    sql_query = """
    SELECT orders.*, product.PRO_NAME
    FROM orders
    JOIN product_details ON orders.PROD_ID = product_details.PROD_ID
    JOIN product ON product_details.PRO_ID = product.PRO_ID
    WHERE orders.CUS_ID = 2;
    """

    # Execute the SQL query
    cursor = conn.cursor()
    cursor.execute(sql_query)

    # Fetch all the results
    results = cursor.fetchall()

    # Display the results
    print("Orders along with the product names for Customer_Id=2:")
    print("-------------------------------------------------------------------------------------------------------------------------")
    print("Order ID | Order Amount | Order Date  | Customer ID | Product ID | Product Name")
    print("-------------------------------------------------------------------------------------------------------------------------")
    for row in results:
        print(f"{row[0]}       |   {row[1]}      |   {row[2]}   |   {row[3]}       |   {row[4]}       |   {row[5]}")

except mysql.connector.Error as error:
    print("Error executing SQL query:", error)

finally:
    # Close the cursor and connection
    if 'cursor' in locals():
        cursor.close()
    conn.close()

Connected to MySQL database
Orders along with the product names for Customer_Id=2:
-------------------------------------------------------------------------------------------------------------------------
Order ID | Order Amount | Order Date  | Customer ID | Product ID | Product Name
-------------------------------------------------------------------------------------------------------------------------
50       |   2000      |   2021-10-06   |   2       |   1       |   GTA V

In [17]:
### Q5) Display the Supplier details who can supply more than 
##one product.
import mysql.connector

# MySQL connection details
host = "localhost"
user = "root"  
password = "root"  
database = "e_commerce"

# Connect to MySQL
conn = mysql.connector.connect(host=host, user=user, password=password, database=database)

if conn.is_connected():
    print("Connected to MySQL database")
else:
    print("Failed to connect to MySQL database")

try:
    # SQL query
    sql_query = """
    SELECT supplier.*
    FROM supplier
    JOIN product_details ON supplier.SUPP_ID = product_details.SUPP_ID
    GROUP BY supplier.SUPP_ID
    HAVING COUNT(product_details.PRO_ID) > 1;
    """

    # Execute the SQL query
    cursor = conn.cursor()
    cursor.execute(sql_query)

    # Fetch all the results
    results = cursor.fetchall()

    # Display the results
    print("Supplier details who can supply more than one product:")
    print("---------------------------------------------------------------------------")
    print("Supplier ID | Supplier Name | Supplier City | Supplier Phone")
    print("---------------------------------------------------------------------------")
    for row in results:
        print(f"{row[0]}          |   {row[1]}      |   {row[2]}   |   {row[3]}")

except mysql.connector.Error as error:
    print("Error executing SQL query:", error)

finally:
    # Close the cursor and connection
    if 'cursor' in locals():
        cursor.close()
    conn.close()

Connected to MySQL database
Supplier details who can supply more than one product:
---------------------------------------------------------------------------
Supplier ID | Supplier Name | Supplier City | Supplier Phone
---------------------------------------------------------------------------
1          |   Rajesh Retails      |   Delhi   |   1234567890

In [18]:
import mysql.connector

# MySQL connection details
host = "localhost"
user = "root"  
password = "root"  
database = "e_commerce"

# Connect to MySQL
conn = mysql.connector.connect(host=host, user=user, password=password, database=database)

if conn.is_connected():
    print("Connected to MySQL database")
else:
    print("Failed to connect to MySQL database")

try:
    # SQL query
    sql_query = """
    SELECT category.CAT_NAME
    FROM orders
    JOIN product_details ON orders.PROD_ID = product_details.PROD_ID
    JOIN product ON product_details.PRO_ID = product.PRO_ID
    JOIN category ON product.CAT_ID = category.CAT_ID
    WHERE orders.ORD_AMOUNT = (SELECT MIN(ORD_AMOUNT) FROM orders);
    """

    # Execute the SQL query
    cursor = conn.cursor()
    cursor.execute(sql_query)

    # Fetch all the results
    results = cursor.fetchall()

    # Display the results
    print("Category of the product with the minimum order amount:")
    for row in results:
        print(row[0])

except mysql.connector.Error as error:
    print("Error executing SQL query:", error)

finally:
    # Close the cursor and connection
    if 'cursor' in locals():
        cursor.close()
    conn.close()

Connected to MySQL database
Category of the product with the minimum order amount:
GROCERIES

In [19]:
### Q7) Display the Id and Name of the Product ordered after 
##“2021-10-05”.
import mysql.connector

# MySQL connection details
host = "localhost"
user = "root"  
password = "root"  
database = "e_commerce"

# Connect to MySQL
conn = mysql.connector.connect(host=host, user=user, password=password, database=database)

if conn.is_connected():
    print("Connected to MySQL database")
else:
    print("Failed to connect to MySQL database")

try:
    # SQL query
    sql_query = """
    SELECT product.PRO_ID, product.PRO_NAME
    FROM orders
    JOIN product_details ON orders.PROD_ID = product_details.PROD_ID
    JOIN product ON product_details.PRO_ID = product.PRO_ID
    WHERE orders.ORD_DATE > '2021-10-05';
    """

    # Execute the SQL query
    cursor = conn.cursor()
    cursor.execute(sql_query)

    # Fetch all the results
    results = cursor.fetchall()

    # Display the results
    print("ID and Name of the products ordered after '2021-10-05':")
    for row in results:
        print(f"ID: {row[0]}, Name: {row[1]}")

except mysql.connector.Error as error:
    print("Error executing SQL query:", error)

finally:
    # Close the cursor and connection
    if 'cursor' in locals():
        cursor.close()
    conn.close()

Connected to MySQL database
ID and Name of the products ordered after '2021-10-05':
ID: 4, Name: OATS
ID: 1, Name: GTA V

In [20]:
### Q8) Print the top 3 supplier name and id and rating on the basis of their rating along with the customer name who has given 
##the rating.

import mysql.connector

# MySQL connection details
host = "localhost"
user = "root"  # Change this to your MySQL username
password = "root"  # Change this to your MySQL password
database = "e_commerce"

# Connect to MySQL
conn = mysql.connector.connect(host=host, user=user, password=password, database=database)

if conn.is_connected():
    print("Connected to MySQL database")
else:
    print("Failed to connect to MySQL database")

try:
    # SQL query
    sql_query = """
    SELECT supplier.SUPP_ID, supplier.SUPP_NAME, rating.RAT_RATSTARS, 
    customer.CUS_NAME
    FROM rating
    JOIN supplier ON rating.SUPP_ID = supplier.SUPP_ID
    JOIN customer ON rating.CUS_ID = customer.CUS_ID
    ORDER BY rating.RAT_RATSTARS DESC
    LIMIT 3;
    """

    # Execute the SQL query
    cursor = conn.cursor()
    cursor.execute(sql_query)

    # Fetch all the results
    results = cursor.fetchall()

    # Display the results
    print("Top 3 suppliers along with their ratings and the names of the customers who have given the ratings:")
    print("-----------------------------------------------------------------------------------------------------")
    print("Supplier ID | Supplier Name | Rating | Customer Name")
    print("-----------------------------------------------------------------------------------------------------")
    for row in results:
        print(f"{row[0]}          |   {row[1]}      |   {row[2]}    |   {row[3]}")

except mysql.connector.Error as error:
    print("Error executing SQL query:", error)

finally:
    # Close the cursor and connection
    if 'cursor' in locals():
        cursor.close()
    conn.close()

Connected to MySQL database
Top 3 suppliers along with their ratings and the names of the customers who have given the ratings:
-----------------------------------------------------------------------------------------------------
Supplier ID | Supplier Name | Rating | Customer Name
-----------------------------------------------------------------------------------------------------
1          |   Rajesh Retails      |   5    |   PULKIT
2          |   Appario Ltd.      |   4    |   AMAN
5          |   Mittal Ltd.      |   4    |   MEGHA